body {
	background-color:#fff;
	color:#2B3856;
	min-width:1200;
}

.navbar {
	position: relative;
	top: -20px;
	height: 75px;
	background-color: #2B3856;
}

.navbar ul {
      margin: 0;
      padding: 0;
      text-align: center;

}

.navbar li {
	display: inline;
    list-style: none;
    padding: 0px 30px 0px 30px;

}

.navbar a {
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
    font-family:Futura, Tahoma, sans-serif;
	color:#fff;
	text-align:center;
	margin-top:30px;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

#footer{
	clear:both;
	position: relative;
	bottom: -30px;
	height: 75px;
	background-color: #2B3856;
}

#copy {
	text-align:center;
	font-family: Futura, Tahoma, sans-serif;
	color:#fff;
}



.infra {
	height: 150px;
    position:static;
}


.infra ul {
      text-align: center;
}

.infra li {
	display: inline;
    list-style: none;
    padding: 0px 20px 0px 20px;

}

.infra a {
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
    font-family:Futura, Tahoma, sans-serif;
	color:#000;
	text-align:center;
	margin-top:15px;
}

.box {
  padding: 2em;
  height: 25px;
  border-radius:25px;
  margin: -1px 0 0 -1px;
  color: black;
  background: linear-gradient(
     #dfe4ef, #dfe4ef 50%, #2B3856 50%, #2B3856
  );
  background-size: 100% 202%;
  transition: all 0.4s ease;
}

.box:hover {
  background-position: 100% 100%;
  color:#fff;
}


h2{
    text-transform:uppercase;
    font-size:22px;
    font-family:Verdana;
    color:#2B3856;
    text-align:center;
}

.infra_table table {
    position:relative;
    overflow:auto;
    margin:0 auto;
    text-align:center;
    width:800px;
}

.infra_table thead {
    background-color:#2B3856;
    color:#fff;
}

.infra_table tr:nth-child(even) {
	background-color: #dfe4ef;
	}

.form table {
    position:relative;
    overflow:auto;
    margin:0 auto;
    text-align:center;
    width:250px;
}

#right {
    text-align:right;
    font-family:Futura, Tahoma, sans-serif;
}
#left {
    text-align:left;
    font-family:Futura, Tahoma, sans-serif;
}

.text {
    font-family:Futura, Tahoma, sans-serif;
    text-align:center;
}

.button {
    text-align:center;
}



